#imageElem {
    font-family: "Courier New", Monospaced, sans-sarif;
    color: black;
    background-color: white;
    cursor: crosshair;
    white-space: pre;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#fgTextbox,#bgTextbox {
    width: 15px;
}
#sizeTextbox {
    width: 40px;
}

.pen {
    text-align: center;
}
